body{
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    width: 98%;
    justify-content:flex-start;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#container{
    margin-top: 20vh;
    justify-content: center;                
    background-color: rgba(71,77,80,255);
    justify-content: center;
    border: solid 4px rgba(124,115,102,255);
    border-radius: 5px;
    transform: scale(2); 
    transform-origin: center; 
    overflow: hidden;
    max-width: 150px;
}

#display{
    margin: 3px;
    background-color: rgb(54, 92, 83);
    border-radius: 5px;
    border: 1px solid rgb(40, 40, 40);
    height: 3em;
    font-size: 1em;
    color: #40d365;
    font-weight: bold;
    box-sizing: border-box;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 0.5em;
}


#buttonsMenu{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#buttonsMenu button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    margin: 3px;
    font-weight: bold;
    cursor: pointer;
}

.numberButton{
    background-color: rgb(43,42,51);
    color: white;
}
.numberButton:hover{
    background-color: rgba(43, 42, 51, 0.658);
    color: white;
}
.numberButton:active{
    background-color: rgba(43, 42, 51, 0.26);
    color: white;
}
.operator {
    background-color: rgb(255, 166, 0);
    color: white;
}
.operator:hover{
    background-color: rgb(252, 178, 41);
    color: white;
}
.operator:active{
    background-color: rgb(255, 202, 105);
    color: white;
}

#equalButton{
    background-color: rgb(59,64,66);   
    color: white;
}
#equalButton:hover{
    background-color: rgb(78, 84, 87);   
    color: white;
}
#equalButton:active{
    background-color: rgb(119, 130, 134);   
    color: white;
}

#clear{ 
    background-color: rgb(96,38,63);
    color: white;
}
#clear:hover{ 
    background-color: rgb(112, 44, 74);
    color: white;
}
#clear:active{ 
    background-color: rgb(143, 88, 112);
    color: white;
}

footer{  
    margin-top: 20vh;
    color: white;
    text-align: center;
    font-weight: bold; 
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a:visited { 
    color:white;
}  