body{
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    width: 98%;
    justify-content:flex-start;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#container{
    margin-top: 20vh;
    justify-content: center;                
    background-color: rgba(71,77,80,255);
    justify-content: center;
    border: solid 4px rgba(124,115,102,255);
    border-radius: 5px;
    transform: scale(2); 
    transform-origin: center; 
    overflow: hidden;
}

#display{
    margin: 3px;
    background-color: rgba(63,97,89,255);
    border-radius: 5px;
    border: 1px solid rgb(40, 40, 40);
    height: 3em;
    font-size: 0.75em;
    color: rgb(49, 49, 49);
    font-weight: bold;
    text-indent: 0.5em;
    box-sizing: border-box;
    width: 95%;
}


#buttonsMenu{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#buttonsMenu button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    margin: 3px;
    font-weight: bold;
    cursor: pointer;
}

.numberButton{
    background-color: rgba(43,42,51,255);
    color: white;
}

.operator {
    background-color: rgba(59,64,66,255);
    color: white;
}

#equalButton{
    background-color: rgba(59,64,66,255);   
    color: white;
}

#clear{ 
    background-color: rgba(96,38,63,255);
    color: white;
}

footer{  
    margin-top: 20vh;
    color: white;
    text-align: center;
    font-weight: bold; 
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a:visited { 
    color:white;
}  